.transition_none *{
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -ms-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}

/* header */

.nav {
  padding: 0 25px;
  height: 80px;
  background: #000;
}

.nav .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav .wrapper a {
  display: flex;
}

.nav .wrapper .logo {
  height: 40px;
}

/* banner */

.banner {
  height: 440px;
  background: url('../images/banner.jpg') 50% center / cover no-repeat rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-align: left;
  color: rgb(255, 255, 255);
  background-position: 50% 20%;
}
.banner .title-wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: PingFang SC;
  max-width: 1200px;
}
.banner .title-wrapper .wrapper {
  margin: 0 80px;
}
.banner .title-wrapper p {
  margin: 0;
}
.banner .title-wrapper .title {
  font-size: 48px;
  font-weight: 600;
}
.banner .title-wrapper .sub-title {
  font-size: 18px;
}

/* index post */

.posts {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: calc(100vh - 540px);
  padding: 40px;
}
.posts .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 28px 28px;
  width: 300px;
  padding: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  text-decoration : none;
  height: 360px;
  background: #f1f1f1;
  border: 1px solid #fff;
  transition: border .3s ease-in-out 0s;
}
.posts .card:hover {
  border: 1px solid #000;
}
.posts .card img {
  display: block;
  width: 300px;
  height: 175px;
  object-fit: cover;
}
.posts .card .title {
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 33px;
  margin: 8px 0 14px;
}
.posts .card .excerpt {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  height: 80px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.posts .card .post-time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.posts .card .category {
  margin: 24px auto 0px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
}

/* post page */

.post-page {
  max-width: 720px;
  margin: 80px auto;
  font-size: 14px;
  color: #262626;
}
.post-page p {
  line-height: 1.74;
  text-align: justify;
}
.post-page>h1{
  font-family: Chinese Quote,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji;
  font-size: 36px;
  line-height: 1.389;
  font-weight: 700;
  color: #262626;
}
.post-page h3 {
  font-size: 20px;
  line-height: 28px;
  padding: 7px 0;
  margin: 0;
}
.post-page a {
  color: #096DD9;
  text-decoration : none;
}
.post-page a em {
  color: #096DD9;
}
.post-page em {
  color: #8c8c8c;
  font-size: 13px;
}
.post-page img {
  max-height: 400px;
  max-width: 100%;
}

/* footer */

.ant-layout-footer {
  background: rgb(14, 14, 14);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  min-height: 300px;
  font-size: 14px;
  padding: 24px 50px;
  flex: 0 0 auto;
}
.ant-layout-footer .wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.ant-layout-footer .ant-row, .ant-layout-footer .ant-row:after, .ant-layout-footer .ant-row:before {
  display: flex;
}
.ant-layout-footer .wrapper .row {
  padding: 60px 0px;
  flex-flow: row wrap;
}
.ant-layout-footer .wrapper .link {
  color: rgb(255, 255, 255);
}
.ant-layout-footer .wrapper p {
  opacity: 0.6;
}
.ant-layout-footer .wrapper a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}
@media (min-width: 576px) {
  .ant-layout-footer .wrapper .row  .ant-col-sm-8 {
    display: block;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .ant-layout-footer .wrapper .row .ant-col-sm-4 {
    display: block;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}