/* header */

.nav {
  padding: 0 25px;
  height: 80px;
  background: #000;
}

.nav .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav .wrapper a {
  display: flex;
}

.nav .wrapper .logo {
  height: 40px;
}

/* banner */

.banner {
  height: 300px;
  background: url('../images/banner.webp') 50% center / cover no-repeat rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-align: left;
  color: rgb(255, 255, 255);
}
.banner .title-wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: PingFang SC;
  max-width: 1200px;
}
.banner .title-wrapper .wrapper {
  margin: 0 80px;
}
.banner .title-wrapper p {
  margin: 0;
}
.banner .title-wrapper .title {
  font-size: 48px;
  font-weight: 600;
}
.banner .title-wrapper .sub-title {
  font-size: 18px;
}

/* index post */

.posts {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: calc(100vh - 540px);
}
.posts .card {
  margin: 60px 28px;
  width: 300px;
  padding: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  text-decoration : none;
  height: 360px;
  background: #eee;
  border: 1px solid rgba(0, 0, 0, 0);
}
.posts .card:hover {
  border: 1px solid #000;
  transition: border 1s linear;
}
.posts .card img {
  display: block;
  width: 300px;
  height: 175px;
}
.posts .card .title {
  font-size: 18px;
  color: #000;
}
.posts .card .excerpt {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  height: 80px;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.posts .card .post-time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

/* post page */

.post-page {
  max-width: 720px;
  margin: 80px auto;
  font-size: 14px;
  color: #262626;
}
.post-page p {
  line-height: 1.74;
}
.post-page>h1{
  font-family: Chinese Quote,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji;
  font-size: 36px;
  line-height: 1.389;
  font-weight: 700;
  color: #262626;
}
.post-page h3 {
  font-size: 20px;
  line-height: 28px;
  padding: 7px 0;
  margin: 0;
}
.post-page a {
  color: #096DD9;
  text-decoration : none;
}
.post-page a em {
  color: #096DD9;
}
.post-page em {
  color: #8c8c8c;
  font-size: 13px;
}
.post-page img {
  width: 100%;
}

/* footer */

.footer {
  background: rgb(14, 14, 14);
  height: 160px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}