<!DOCTYPE html>
<html>
  <%- partial('partial/head') %>
  <body style="margin: 0">
    <%- partial('partial/header') %>
    <main class="main">
      <div class="content">
        <%- body %>
      </div>
    </main>
  </body>
</html>