<div class="banner">
  <div class="title-wrapper">
    <div class="wrapper">
      <p class="title"><%= theme.banner.title %></p>
      <p class="sub-title"><%= theme.banner.sub_title %></p>
    </div>
  </div>
</div>