<footer class="ant-layout-footer sc-gKsewC gnwqMi" style="">
  <div class="wrapper">
    <div class="ant-row row">
      <div class="ant-col ant-col-sm-8">
        <a href="https://trendfund.cc/" target="_blank" rel="noopener noreferrer">
          <img class="logo" src="<%- theme.mainLogo %>" alt="logo"/>
        </a>
        <p>加密资产量化研究机构</p>
      </div><div class="ant-col ant-col-sm-4">
        <p>
          <a class="link" href="https://trendfund.cc/#/idea" target="_blank" rel="noopener noreferrer">理念</a>
        </p>
        <p>
          <a class="link" href="https://trendfund.cc/#/product" target="_blank" rel="noopener noreferrer">产品</a>
        </p>
        <p>
          <a class="link" href="/">
            研究
          </a>
        </p>
      </div>
      <div class="ant-col ant-col-sm-4">
        <p>
          <a class="link" href="https://trendfund.cc/#/risk-disclosure" target="_blank" rel="noopener noreferrer">《风险揭示书》</a>
        </p>
      </div>
    </div>
    <p style="text-align: center; margin: 0px; opacity: 0.3;">
      TrendFund © 2021
    </p>
  </div>
</footer>