<div class="nav">
  <div class="wrapper">
    <a href="/">
      <image class="logo" src="<%- theme.logo %>" alt="logo"/>
        <image class="research" src="<%- theme.research %>" alt="logo"/>
    </a>
  </div>
</div>